# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Distribution / Build
build/
dist/
dist-windows/
dist-linux/
dist-mac/
*.spec

# VS Code
.vscode/

# OS specific
.DS_Store
Thumbs.db

# App specific
*.app
output/
